<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.TbOwnerNewMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.TbOwnerNew">
    <id column="new_id" jdbcType="INTEGER" property="newId" />
    <result column="new_name" jdbcType="VARCHAR" property="newName" />
    <result column="new_grade" jdbcType="INTEGER" property="newGrade" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="new_createTime" jdbcType="VARCHAR" property="newCreatetime" />
    <result column="new_motifyTime" jdbcType="VARCHAR" property="newMotifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    new_id, new_name, new_grade, new_status, new_createTime, new_motifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_owner_new
    where new_id = #{newId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_owner_new
    where new_id = #{newId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.TbOwnerNew">
    insert into tb_owner_new (new_id, new_name, new_grade, new_status, 
      new_createTime, new_motifyTime)
    values (#{newId,jdbcType=INTEGER}, #{newName,jdbcType=VARCHAR}, #{newGrade,jdbcType=INTEGER}, #{newStatus,jdbcType=INTEGER}, 
      #{newCreatetime,jdbcType=VARCHAR}, #{newMotifytime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.bean.TbOwnerNew">
    insert into tb_owner_new
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newId != null">
        new_id,
      </if>
      <if test="newName != null">
        new_name,
      </if>
      <if test="newGrade != null">
        new_grade,
      </if>
      <if test="newStatus != null">
        new_status,
      </if>
      <if test="newCreatetime != null">
        new_createTime,
      </if>
      <if test="newMotifytime != null">
        new_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newId != null">
        #{newId,jdbcType=INTEGER},
      </if>
      <if test="newName != null">
        #{newName,jdbcType=VARCHAR},
      </if>
      <if test="newGrade != null">
        #{newGrade,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="newCreatetime != null">
        #{newCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="newMotifytime != null">
        #{newMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.TbOwnerNew">
    update tb_owner_new
    <set>
      <if test="newName != null">
        new_name = #{newName,jdbcType=VARCHAR},
      </if>
      <if test="newGrade != null">
        new_grade = #{newGrade,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        new_status = #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="newCreatetime != null">
        new_createTime = #{newCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="newMotifytime != null">
        new_motifyTime = #{newMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where new_id = #{newId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.TbOwnerNew">
    update tb_owner_new
    set new_name = #{newName,jdbcType=VARCHAR},
      new_grade = #{newGrade,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      new_createTime = #{newCreatetime,jdbcType=VARCHAR},
      new_motifyTime = #{newMotifytime,jdbcType=VARCHAR}
    where new_id = #{newId,jdbcType=INTEGER}
  </update>
  
  <!-- selectTbOwnerNewByGrade -->
  <select id="selectTbOwnerNewByGrade" parameterType="com.atguigu.bean.TbOwnerNew" resultMap="BaseResultMap">
    select *
    from tb_owner_new
    where new_grade = #{newGrade,jdbcType=INTEGER} and new_status = 1
  </select>
  
  <!-- updateTwoIntoEffect -->
  <update id="updateTwoIntoEffect" parameterType="com.atguigu.bean.TbOwnerNew">
    update tb_owner_new 
    set new_status = #{newStatus,jdbcType=INTEGER} 
    where new_grade = #{newGrade,jdbcType=INTEGER}
  </update>
  
</mapper>